@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);
  --nav-bar-height: 3rem
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

nav {
  height: var(--nav-bar-height);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  min-height: calc(100% - var(--nav-bar-height));
}

#root {
  position: relative;
}

.d-flex {
  display: flex;
}